*{
  margin: 0;padding: 0; box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Create new item */

.one {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

h2.two{
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.tree label{
  text-align: left;
  display: block;
}
.editTable{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.editTable label{
  font-size: 24px;
  display: flex;
  column-gap: 8px;
}
.editTable input{
  padding: 4px 8px;
}

.btn{
  background: green;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
}
.inventories{
  cursor: pointer;
}

.inventories tbody tr:hover{
  background-color: gray;
}


th,
td{
  border: 1px solid black;
}

